
<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <link rel='stylesheet' href='../stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <div class="horizontal-flex">
        <h2><a href="/blog">BLOG</a></h2>
        <!--method get-->
        <button class="success" href='/blog/create'>Write Article</button>
      </div>
    </nav>
    <section>
      
    </section>
  </body>
</html>
