<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write Blog</title>
    <link rel='stylesheet' href='../stylesheets/style.css' />
</head>
<body> 
      <h2 class="center">Write blog-post</h2>
    <form action="/blog/create" method="post">
        <input type="text" name="title" placeholder="enter title of article"/>
        <input type="text" name="description" placeholder="Type article">
        <input type="text" name="author" placeholder="author name"/>
        <input type="submit" value="Post Article" class="nav success"/>
    </form>
</body>
</html>